 @{ 
     var kategorilistesi = ViewBag.kategoriListesi;
 }



<!-- main menu area start  -->
<div class="main-menu-area ">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-8 col-md-3 col-lg-3">
                <div class="menu-cat-area">
                    <h3 class="nk-module-title"><span>KATEGORİLER</span></h3>
                    <div class="nk-all-items">
                        <div class="sp-module-content">
                            <!-- treeview -->
                            <div class="vina-treeview-virtuemart" id="vina-treeview-virtuemart93">
                                <ul class="level0 treeview">

                                    @foreach (var item in kategorilistesi)
                                    {
                                        if (item.parentID == 0)
                                        {
                                            <li>
                                                <a title="@item.categoryname" href="@Url.Action("kategoriler/" + item.categoryID, "Home")" class="baby">
                                                 <span class="catTitle">@item.categoryname</span>
                                                </a>

                                                <!--alt kategoriler-->
                                                @{
                                                    foreach (var item2 in kategorilistesi)
                                                    {
                                                        if (item2.parentID == item.categoryID)
                                                        {
                                                            //buraya gelirse alt kategori vardır

                                                        <ul class="sub-menu treeview" >
                                                            <li class="expandable">
                                                                <a title="@item2.categoryname" href="@Url.Action("kategoriler/" + item2.categoryID, "Home")" class="">
                                                                    <span class="catTitle ">@item2.categoryname</span>
                                                                </a>
                                                            </li>
                                                        </ul>

                                                        }
                                                    }
                                                }
                                            </li>
                                        }
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-2 col-sm-3 col-md-1 col-lg-1"></div>

            <div class="col-xs-2 col-sm-3 col-md-8 col-lg-8">
                <nav>
                    <ul>
                        <li class="active">
                            <a href="@Url.Action("Index","Home")">Anasayfa</a>
                            <div class="sp-dropdown-inner">
                                <ul class="sp-dropdown-items">
                                    <li class="sp-menu-item"><a href="index.html">Home 1</a></li>
                                    <li class="sp-menu-item"><a href="index-2.html">Home 2</a></li>
                                    <li class="sp-menu-item"><a href="index-3.html">Home 3</a></li>
                                    <li class="sp-menu-item"><a href="index-4.html">Home 4</a></li>
                                    <li class="sp-menu-item"><a href="index-5.html">Home 5</a></li>
                                    <li class="sp-menu-item"><a href="index-6.html">Home 6</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="@Url.Action("detayliarama","Home")">Detaylı Arama</a></li>
                        <li><a href="@Url.Action("hesabim","Home")">GİRİŞ</a></li>
                        <li><a href="@Url.Action("uyeol","Home")">Üye Ol</a></li>
                        <li>
                            @*  <a href="index.html#">BANA ÖZEL</a>
                <div class="sp-dropdown-inner">
                    <ul class="sp-dropdown-items">
                        <li class="sp-menu-item"><a href="blog-post.html">blog post page</a></li>
                        <li class="sp-menu-item"><a href="cart.html">cart page</a></li>
                        <li class="sp-menu-item"><a href="checkout.html">checkout page</a></li>
                        <li class="sp-menu-item"><a href="login.html">login page</a></li>
                        <li class="sp-menu-item"><a href="shop.html">shop page</a></li>
                        <li class="sp-menu-item"><a href="single-product.html">single product page</a></li>
                        <li class="sp-menu-item"><a href="wishlist.html">wishlist</a></li>
                    </ul>
                </div>
            </li>*@
                        <li><a href="@Url.Action("logout","Home")">ÇIKIŞ</a></li>
                        <li><a href="@Url.Action("hakkimizda","Home")">Hakkımızda</a></li>
                        <li><a href="@Url.Action("iletisim","Home")">İLETİŞİM</a></li>
                        <li><a href="@Url.Action("mesaj","Home")">MESAJ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- main menu area end  -->

<!-- mobile-menu-area start -->
<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul>
                            <li>
                                <a href="index.html">Home2</a>
                                <ul>
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                    <li><a href="index-5.html">Home 5</a></li>
                                    <li><a href="index-6.html">Home 6</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li>
                                <a href="index.html#">Pages</a>
                                <ul>
                                    <li><a href="blog-post.html">blog post page</a></li>
                                    <li><a href="cart.html">cart page</a></li>
                                    <li><a href="checkout.html">checkout page</a></li>
                                    <li><a href="login.html">login page</a></li>
                                    <li><a href="shop.html">shop page</a></li>
                                    <li><a href="single-product.html">single product page</a></li>
                                    <li><a href="wishlist.html">wishlist</a></li>
                                </ul>
                            </li>
                            <li><a href="corporate.html">Corporate</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mobile-menu-area end -->

<!-- search area start  -->
<div class="nk-search-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="nk-search">
                   
                    <div class="search_input">
                        <input lang="tr" type="text" placeholder="Ürün,Kategori,Marka ile ara" id="search" name="search" style="width:770px;" />

                        <br />

                        <div id="DV" style="width:770px; height:auto; margin-top:20px; border-style:solid;background-color:white;border-color:#f47e1e;z-index:10000;position:absolute;">

                            <ul id="SUL"></ul>

                        </div>

                        @*<div class="search-button-wrapper">
                            <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main menu area end  -->

<script> // kategoriler kısmını açtırmama.
    function getCurrentFileName() {
        var pagePathName = window.location.pathname;
        // alert("1 -> " + pagePathName)
        if (pagePathName == "/Home/Index") {
            pagePathName = "";
        }
        return pagePathName.substring(pagePathName.lastIndexOf("/") + 1)
    }


    if (getCurrentFileName() == "") {
      //  alert("Anasayfa = " + getCurrentFileName)
        $(".nk-all-items").css("display","block")
    }
    else {
        //alert("ALT SAYFA = " + getCurrentFileName)
        $(".nk-all-items").css("display", "none")
    }

    //arama kutucuğu
    $("#search").keyup(function () {
        //  alert("klavyeye bastın")
        var id = $("#search").val()
        // alert(id)
        var ikat = 0;
        var imar = 0;
        var iurun = 0;

        if (id != "" && id.length >= 1) {
            // alert(id)
            $.ajax({
                //controler a parametre göndereceğim (int id)
                url: '/Home/urunlerstring/' + id,
                type: 'POST',
                ContentType: "application/json;charset=UTF-8",
                success: function (result) {
                    //  alert(result)
                    $("#SUL").remove();
                    // <ul id="SUL">aaaa</ul>
                    $("#DV").append("<ul id='SUL'>")
                    $.each(result, function (key, value) {

                        if (value.KATEGORI != 0) {
                            if (ikat == 0) {
                                $("#SUL").append("<li><hr></li>");
                                $("#SUL").append("<li><b>KATEGORİLER</b></li>");
                                ikat++;
                            }
                            $("#SUL").append("<li><a href='/Home/kategoriler/" + value.KATEGORI + "'>" + value.ARAMAISMI + "</a></li>");
                        }

                        if (value.MARKA != 0) {
                            if (imar == 0) {
                                $("#SUL").append("<li><hr></li>");
                                $("#SUL").append("<li><b>MARKALAR</b></li>");
                                imar++;
                            }
                            $("#SUL").append("<li><a href='/Home/markalar/" + value.MARKA + "'>" + value.ARAMAISMI + "</a></li>");
                        }

                        if (value.URUN != 0) {
                            if (iurun == 0) {
                                $("#SUL").append("<li><hr></li>");
                                $("#SUL").append("<li><b>ÜRÜNLER</b></li>");
                                iurun++;
                            }
                            $("#SUL").append("<li><a href='/Home/detaylar/" + value.URUN + "'>" + value.ARAMAISMI + "</a></li>");
                        }

                    })
                }
            })
        } // if bitis
        else {
            $("#SUL").remove();
        }
    })


</script>
